/* Links */

a,
a:focus,
a:hover {
	color: inherit;
	text-decoration: none;
}
.cardsbox a:hover {
	color: #272822;
	background-color: yellow;
	padding: 0 6px 0 6px;
	margin: 0 -6px 0 -6px;
}
.boxtwo a:hover {
	color: #272822;
	background-color: yellow;
	border-color: yellow;
}

/*
 * Base structure
 */

html,
body {
	height: 100%;
	color: rgba(255, 255, 255, 0.75);
	background-color: #272822;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	font-family: Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
	font-size: 16pt;
}

.container {
	/*margin-right: auto;
	margin-left: auto;*/
	text-align: left;
	/*background-color: black;*/
	padding: 2.5rem;
	min-height: 100%;
	max-width: 24rem;
	min-width: 16rem;
	/*width: auto;*/
}

.boxone {
	margin: 0 0 1rem 0;
	padding: 0;
}

h1 {
	/*color: red;*/
	padding: 0;
	margin: 0 0 0 -0.05em;
	color: yellow;
	font-size: 2.5rem;
	line-height: 1em;
}

.boxtwo {
	margin: 2rem 0 0 0;
}

.button {
	display: block;
	margin: 0 ;
	/*margin: 0;*/
	font-size: 1.5rem;
	line-height: 1.3em;
	border: 1px solid white;
	padding: 0.5rem 1rem;
	margin: 1rem 0;
}

/*h3:hover {
	background-color: yellow;
	color: inherit;
}*/

.cardsbox {
	display: flex; /* or inline-flex */
	flex-wrap: wrap;
	margin: 0;
	padding: 1rem 0;
}

.card {
	/*flex-basis: 20%;*/
	/*margin: 12px;*/
	margin: 0.5rem 1rem;
	/*flex-shrink: 1;*/
}

li {
	white-space: nowrap;
}

ul {
	list-style-position: inside;
	list-style-type: square;
	margin: 0;
	padding-left: 0;
}

.muted {
	color: rgba(255, 255, 255, 0.25);
}

/* smaller devices */

@media only screen
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.container {
			padding: 1.5rem;
			min-width: 0;
		}
}

@media only screen
	and (min-device-width: 340px)
	and (max-device-width: 480px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.card {
			margin: 0.5rem 2rem 0.5rem 0;
		}
}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 340px)
	and (-webkit-min-device-pixel-ratio: 2) {
		.boxtwo {
			margin: 1.5rem 0 0 0;
		}
		.cardsbox {
			padding: 0.5rem 0;
		}
		.card {
			margin: 0.5rem 2rem 0.5rem 0;
			font-size: 0.9rem;
		}
}


/* Debug */
.container,
.boxone,
.boxtwo,
.cardsbox,
.card,
h1,
h3
{
	/*background-color: rgba(255, 255, 255, 0.02);*/
}
